<html>
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
        dignissimos vero voluptatum quia voluptates debitis rerum repudiandae
        est fugit! Vero quam vel necessitatibus placeat delectus est sequi
        distinctio at, consectetur exercitationem voluptatem officia voluptas
        atque, ab totam libero, tempore quidem? Necessitatibus rerum a culpa
        aperiam, assumenda modi illum vero nihil?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
        consequatur fugit, dicta delectus ab id corrupti accusantium nihil
        reiciendis, esse modi aperiam iste in iusto quibusdam iure debitis?
        Cumque ipsam odio ab vitae commodi. Nesciunt, a et quam eaque ex quod
        minus harum corporis nisi error, tempora laborum facere provident!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A optio, quasi
        unde quod fugiat adipisci illum nisi expedita maxime minus quo, ut
        dolore dolorem eum placeat? Reprehenderit voluptates assumenda saepe
        officiis repudiandae labore aliquid accusamus officia, voluptate eos
        repellat. Ea sequi sit ut nihil nisi. Fugit nulla enim ullam non?
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
